<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>website</title>
    <link rel="stylesheet" href="" th:href="@{css/style.css}">
</head>
<body>
	<div class="signin" id="signin">
	      <div class="container">
	          <h1>Please Login</h1>
	      <form>
	          <div class="box">
	              <input type="email">
	              <label>Email</label>
	          </div>
	          <div class="box">
	              <input type="password">
	              <label>Password</label>
	          </div>
	          <button>Login</button>
	      </form>
	      </div>
	  </div>
	  <script src="" th:src="@{js/javascript.js}"></script>
	</body>
	</html>